%h1 t(:editing_<%= singular_table_name %>).titlecase

= render 'form'

= link_to t(:show).humanize, @<%= singular_table_name %>, class: "btn btn-default"
= link_to t(:back).humanize, <%= index_helper %>_path, class: "btn btn-default"
